@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-image: linear-gradient(to bottom, #222, #3d3f43);
  height: 100vh;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
}

h1 {
  margin-bottom: 20px;
  border-bottom: 4px solid #f4f4f4;
  padding: 4px 80px;
}

p {
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

i {
  color: peachpuff;
  margin-right: 10px;
}

input {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f4f4f4;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: lightgray;
  font-weight: 400;
}

input:hover {
  transform: scale(0.98);
}

button {
  padding: 10px 20px;
  width: 150px;
  background-color: peachpuff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: inherit;
  margin-left: 10px;
  font-weight: 700;
  border: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.9);
}

button:hover {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}

.message {
  position: absolute;
  margin-top: 220px;
}

span {
  color: #fbb666;
}

@media (max-width: 580px) {
  .input-container {
    flex-direction: column;
    margin-top: 40px;
  }
  input {
    margin: 20px;
  }
  .message {
    margin-top: 400px;
  }
  i {
    transform: rotate(90deg);
    margin-bottom: -10px;
  }
}
